@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: "TTLakes-bold";
    src: url("fonts/TTLakes-Medium.ttf");
}

body {
    font-family: "TTLakes"; 
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    min-width: 320px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

button {
    border: none;
    background: none;
}

button:hover, button:active {
  /*  box-shadow: 1px 1px 5px 3px #B8FFEC;
    border-radius: 5px;
    background-color: #fff;
    */
    filter: hue-rotate(200deg);
  
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 88px; 
    background-color: #fff;
    box-shadow: 0 1px 0 #D9FFF5;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;      
}

.header__left-burger {
    width: 40px;
    height: 40px;
    margin-left: 16px;    
} 

.header__left-divider {
    display: none;
    width: 2px;
    height: 32px;
    margin-left: 16px;   
} 

.logo {
    width: 96.55px;
    height: 50.81px;
    margin-left: 20px;
}

.header__right-pad {
    display: none;
}

.header__right-mob {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__right-call {    
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.header__right-chat {    
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.header__right-profile {    
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.header__right-divider {
    width: 2px;
    height: 32px;
    margin-right: 20px;   
} 

.header__right-tools {
    
    width: 40px;
    height: 40px;
    margin-right: 16px;
} 

.header__right-search {
    
    width: 40px;
    height: 40px;
    margin-right: 16px;
} 

/* Основное */
.content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.content__large-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__name {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 390px;
    height: 40px;
}

.content__img {
    width: 4px;
    height: 40px;
}

.content__name-txt {
    font-family: "TTLakes-bold";
    margin-left: 12px;
    font-size: 27px;
    font-weight: 900;
    color: #1B1C21;
}

.content__menu {
    display: flex;
    font-size: 16px;
    align-items: center;
    white-space: nowrap;
    color: #7E7E82;
    margin-left: 16px;
    margin-right: 16px;
    overflow-x:scroll;
    grid-row: 16px;   
    height: 90px; 
}

.content__menu li:hover, .content__menu li:active, .content__menu li:focus {
    padding: 8px;
    border: 2px solid #B8FFEC;
    border-radius: 10px;
    background-color: #fff;
  
}

.content__menu li, .content__menu li:visited, .content__menu li:disabled {
    padding: 8px;
    border: 2px solid #F8F8F8;
    border-radius: 10px;
    background-color: #F8F8F8;
}

.content__menu::-webkit-scrollbar { display: none; }

.content__menu li:nth-child(1) {
    width: 220px;
    margin-left: 16px;    
}

.content__menu li:nth-child(2) {
    width: 190px;
    
}

.content__menu li:nth-child(3) {
    width: 120px;
}

.content__menu li:nth-child(4) {
    width: 210px;
    
}

.content__menu li:nth-child(5) {
    width: 150px;
}

.content__menu li:nth-child(6) {
    width: 60px;
}

.content__menu a:visited, .content__menu a:link {
    color: #7E7E82;
    text-decoration: none;
}

.content__text {
    margin: 16px;
    margin-top: 0;
    font-size: 14px;
    color: #1B1C21;
}

.content__full-text {
    display: none;
}

.content__button {
    display: flex;
    align-items: center; 
    height: 24;  
    margin-bottom: 16px;
}

.content__expand-img {
    width: 24px;
    height: 24px;
}

.content__read-more {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    color: #1B1C21;
}

.content__topic-img {
    width: 100%;
    height: 100%;
}

.content__text-more {
    display: none;
}

.content__right-mob {
    display: none;
}

@media (min-width: 600px) {
    .header__left-divider {
        display: block;
    }
    .header__right-pad {
        display:flex;
        margin-left: auto;
    
    }
    .content__article {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }
    .content__full-text {
        display: block;
    }
    .content__topic-img {
        margin-top: 15px;
        width: 360px;
        height: 208px;
        border-radius: 15px;
    }
}

@media (min-width: 1050px) {
    body {        
        max-width: 1150px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        display: none;   
    }
    .header__left {
        display: none;
    }
    .header__right-pad {
        display: none;
    }
    .header__right-divider {
        display: none;
    }   
    .content__topic-img {
        width: 531px;
        height: 307px;
    }
    .content__text-more {
        display: inline;
    }
    .content__large-bar {
        margin-top: 24px;
    }
    .content__large-menu img {
        margin-left: 8px;
        margin-right: 32px;
    }
    .content__article {
        align-items: flex-start;
    }  
    .content__right-mob {
        display: flex;
        align-items:center ;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }
    .content__right-tools::before {
        content: "Оставить заявку";
    }
    .content__right-tools {
        display: flex;
        align-items: center;
        width: 180px;
    }    
    .content__right-search::before {
        content: "Статус ремонта";
    }
    .content__right-search {
        display: flex;
        align-items: center;
        width: 180px;
    }  
    .content__menu {
        display: flex;
        flex-wrap: wrap;
        max-width: 1050px;
    }
    .content__menu li:nth-child(6) {
        margin-left: 34px;
    }
}